<div id="parent-to-child">
  <app-hero-parent></app-hero-parent>
</div>
<br />
<hr />

<div>
  <app-name-parent></app-name-parent>
</div>
<br />
<hr />

<div>
  <app-version-parent></app-version-parent>
</div>
<br />
<hr />

<div>
  <app-vote-taker></app-vote-taker>
</div>
<br />
<hr />

<div>
  <app-countdown-parent-lv></app-countdown-parent-lv>
</div>
